.Joke {
    background-color: #ffff00;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: black;
    text-shadow: 0px 4px 4px rgba(25, 14, 79, 0.25);
}